* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #202125;
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f2f6;   
    padding: 0;
    margin: 0;
}

main {
    min-height: calc(100% - 40px);
    padding: 100px 0 0 0;
}

#root {
    height: 100%;
}

h1, h2 {
    text-align: center;
    font-family: inherit;
    user-select: none;
}

h1 {
    font-size: 34px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 300;
}

label {
    display: block;
    padding: 4px 0;

    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
}

input, datalist {
    min-width: 340px;

    color: #202125;
    background-color: #f1f2f6;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;

    transition: box-shadow 0.4s ease-in-out;
}

input:focus, datalist:focus
{
    box-shadow: 0 0 4px #70a1ff;
}


button, .button {
    margin-top: 6px;
    min-width: 340px;

    border: 0;
    background-color: #f1f2f6;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    color: #202125;
    user-select: none;
    outline: none;

    transition: background-color 0.4s ease-in-out;
}

button:hover, .button:hover {
    cursor: pointer;
    background-color: #b8b9c1;
    color: #202125;
}

button:disabled, .button:disabled {
    background-color: #adaeb7;
}

footer {
    height: 40px;
    color: #eeeff4;
    padding: 8px;
    text-align: center;

    font-weight: 100;
}

footer span {
    padding: 0 20px;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;

    transition: color 0.4s ease-in-out;
}

a:hover {
    color: #70a1ff;   
}

#progress_border {
    height: 10px;
    border: 1px solid #f1f2f6;
    margin: 20px auto 0 auto;
}

#progress {
    height: 8px;
    background-color: #f1f2f6;
}

.button {
    display: block;
    width: 400px;
    text-align: center;
    margin: 20px auto;
}

@media (max-width:900px)  {
    .button {
        width: 250px;
    }
}
